*.log
*.pw
*.zip

#VS Code Files
*.vscode

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
*.Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

/jenkins.ps1
/params.ps1
/bin/gam.exe
/bin/oauth2.txt
*oauth2.txt
/bin/roots.pem
*roots.pem